bokeh==2.0.1
convertdate==2.2.0
faerun==0.3.7
fbprophet==0.6
gensim==3.8.1
gluonts==0.4.2
interpret==0.2.1
lightgbm==3.0.0
lxml==4.5.0
matplotlib==3.2.1
modAL==0.3.6
mxnet==1.4
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
pandas-profiling==2.6.0
pdpbox==0.2.0
pmdarima==1.5.3
pydot==1.4.1
pyenchant==3.0.1
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.10.0
shap==0.36.0
spacy==2.2.4
tensorflow==2.1.0
tmap==1.2.1
tqdm==4.45.0
wordcloud==1.6.0
xgboost==1.0.2